.sortable{
	list-style-type: none; margin: 0;
	width:100%;
	li{
		display:block;
		padding: 5px; font-size: 1.2em;
		min-height:40px;
		background:white;
		border-bottom:1px solid #ccc;
	}
	li.ui-state-highlight {background:yellow;}
	min-height:200px
}
