@navColor: #464646;
@navColorAlt: #0088cc;
@bannerColor: #F4F4F4;
@accentColor:#0088cc;
@altAccentColor:  #EB7F05;
@softAccentColor: #cceeff;
@fontColor: #454545;
@MMRitemHeight:155px;

@darkGray: #5e6469;

@borderColor: #adadad;

/**
 * Status and Quality Level Colors
 **/
@status_DRAFT: #c60;
@status_PUBLISHED: limeGreen;
@status_SUBMITTED_FOR_ASSESSMENT: #688EDE;
@status_ASSESSMENT_IN_PROGRESS: #0B2E59;
@status_APPROVED: #EDD155;
@status_MORE_WORK_REQUIRED: #6A4A3C;
@ql_1: #F06533;
@ql_2: #F2CE3B;
@ql_3: #6DA539;
@ql_4: #4491AB;

body{
	font-family: 'Open Sans',Arial,sans-serif;
	color: @fontColor;
	font-weight:400;
	line-height:22px;
	background: #dddddd;
	position:relative;
}


#topbar{
	border-top:4px solid @altAccentColor;
	font-size:85%;
	//background:@bannerColor;
	.ands-background();
	height:67px;
	#logged_in_user{
		text-align:right;
	}
	#logo{
		padding:10px 0px 0px 20px;
	}
	padding:0;
}
#show_responsive{display:none;}

.ands-background{
	color:white;
	background: #333; /* Old browsers */
}

#banner{
	//background:@bannerColor;
	.ands-background();
	border-bottom:1px solid #ccc;
	.page-header{
		margin:0;border-bottom:none;
		padding-bottom:10px;
	}
	padding:10px;
}


#main-content{
	padding-top:15px;
	min-height:100%;
	height: auto !important;
    min-height: 100%;
    height: 100%;
}

#view-datasource h3{margin-left:20px;}

h1 small{font-size:16px;}
h1{.text-shadow}

.ellipsis{
 text-overflow: ellipsis; 
 -o-text-overflow: ellipsis; 
 -icab-text-overflow: ellipsis; 
 -khtml-text-overflow: ellipsis; 
 -moz-text-overflow: ellipsis; 
 -webkit-text-overflow: ellipsis;  
 overflow:hidden;
 overflow-wrap:none;
 word-wrap:none;
 word-break: keep-all;
 white-space: nowrap;
}

.box{
	border:1px solid @borderColor;
	padding:10px;
	background:#f9f9f9;
	margin:0 -10px;
	.box-header{
		margin: -10px -10px 10px -10px;
		padding:5px 15px;
		.light-gradient();
		border-bottom:1px solid @borderColor;
		h1{
			font-size:22px;
			float:left;
		}
		.right-widget{
			float:right;
		}
	}
	margin-bottom:15px;
}

.light-gradient{
	background: #F8F8F8;
	background: -moz-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%, #E3E3E3));
	background: -webkit-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: -o-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: -ms-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e3e3e3',GradientType=0 );
}

.ro-list{
	margin:-10px;padding:0;
	li{
		.light-gradient();
		list-style-type:none;
		margin:0;padding:10px;
		&:hover{
			background:#eee;
		}
		cursor:pointer;
		.name{
			.text-shadow();
		}
		.num{
			color:white;
			font-size:11px;
			font-weight:bold;
			float:right;
			background-color:@accentColor;
			padding: 1px 9px;
			-webkit-border-radius: 9px;
			-moz-border-radius: 9px;
			border-radius: 9px;
		}
		a{
			text-decoration:none;
			color:@fontColor;
			&:hover{
				text-decoration:none;
			}
		}
	}
}

.status_DRAFT{
	border-left:10px solid @status_DRAFT;
}
.status_PUBLISHED{
	border-left:10px solid @status_PUBLISHED;
}
.status_SUBMITTED_FOR_ASSESSMENT{
	border-left:10px solid @status_SUBMITTED_FOR_ASSESSMENT;
}
.status_ASSESSMENT_IN_PROGRESS{
	border-left:10px solid @status_ASSESSMENT_IN_PROGRESS;
}
.status_APPROVED{
	border-left:10px solid @status_APPROVED;
}
.status_MORE_WORK_REQUIRED{
	border-left:10px solid @status_MORE_WORK_REQUIRED;
}
.ql_1{
	border-left:10px solid @ql_1;
}
.ql_2{
	border-left:10px solid @ql_2;
}
.ql_3{
	border-left:10px solid @ql_3;
}
.ql_4{
	border-left:10px solid @ql_4;
}

#page-footer{
	background:#454545;
	margin-top:25px;
	padding:10px;
	width:100%;
}

#main-nav{
	color:white;
	text-align:right;

	ul{
		margin:0;padding:0;
		list-style-type:none;
		li{
			display:inline-block;
			&:hover{
				background:#4f4f4f;
				a{
					color:white;
				}
				.caret{
					margin-top:32px;
					border-top-color: black;
					border-bottom-color: black;
				}
			}
			a{
				padding:0 15px;
				display:block;
				color:white;
				line-height:67px;
				height:67px;
				font-size:16px;
				text-decoration:none;
			}
			.caret{
				margin-top:32px;
				border-top-color: white;
				border-bottom-color: white;
			}
			ul.sub-menu{
				.ands-background();
				height:auto;
				text-align:left;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
				li{
					padding:0px;
					display:block;
					a{
						padding:10px;
						display:block;
						line-height:22px;
						height:22px;
						border-bottom:1px solid #444;
					}
				}
			}
		}
		height:67px;
	}
}

.text-shadow{
	text-shadow: 2px 2px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=2, offy=2);
}

.text-shadow-black{
	text-shadow: 2px 2px 1px #000000;
    filter: dropshadow(color=#000000, offx=2, offy=2);
}
.no-text-shadow{
	text-shadow: 0px 0px 0px;
	filter: dropshadow(color=#ffffff, offx=0, offy=0);
}

.box-shadow{
	-webkit-box-shadow:  0px 0px 1px 1px black;
}

/**
 * Manage My Records styles
**/
.chzn-container-single .chzn-single{height:26px;text-align:left;}
.chzn-drop{text-align:left;}

.dl-horizontal{
	dt{
		line-height:22px;
		color: @darkGray;
		width:250px;
	}
	dd{
		line-height:22px;
		margin-left:260px;
	}
}

.form-horizontal{
	.control-label{
		width:200px;
		font-weight:bold;
		.text-shadow();
	}
	.controls{
		margin-left:210px;
	}
}



#importRecordsFromURLModal{
  .modal-screen-container{
      min-height:240px;
      max-height:450px;
      overflow:auto;
  }
  .modal-body{
      #remoteSourceURLDisplay{
        width:380px;
        font-style:italic;
        padding:15px 0px 15px 15px;
        .ellipsis(); 
      }
      input[name="url"]{
        width:90%;
      } 
   }
}

.tab-content{overflow:visible;}

.item{
	cursor:pointer;
	position:relative;
	border:1px solid #ccc;
	&:hover{
		border:1px solid @accentColor;
		
	}
	background-color: @bannerColor;
	.btn-group{
		display:none;
		.text-group{
			padding:4px 10px 4px;
		}
	}
}

a.manage_ds_link{
	color:#555;font-weight:bold;font-size:12px;
	&:hover{
		text-decoration:none;
	}
}

.thumbnails{
	padding-top:10px;
	margin-left:-15px;
	.item{
		height:@MMRitemHeight;
		margin:0px;
		position:relative;
		.item-info{
			position:absolute;
			height:100%;
			width: 5px;
			z-index:100;
			overflow:hidden;
			background-color: #ddd;
			p{
				.rotate();
				line-height:100%;
				position: absolute;
				bottom: 25px;
				right: -25px;
				color:white;

				.no-text-shadow();
			}
		}
		.item-snippet{
			margin:5px 5px 5px 20px;
			overflow:hidden;
			height:95%;
			position:relative;
			h3{
				.text-shadow();
				.ellipsis();
				height: 32px;
				line-height:32px;
				.ands_class_icon{
					height:32px; width:32px;
					margin-right:8px;
					content:"";
					float:left;
					background-repeat:no-repeat;
				}
				.icon_activity{background-image:url("../img/ands_icon/activities_32.png");}
				.icon_collection{background-image:url("../img/ands_icon/collections_32.png");}
				.icon_service{background-image:url("../img/ands_icon/services_32.png");}
				.icon_party{background-image:url("../img/ands_icon/party_multi_32.png");}
			}
			.tag{
				font-size:10px;
				padding:5px 8px;
				border:1px solid #ccc;
				.light-gradient();
				color:black;
			}
			.item-description{
				height:54px;
				overflow:hidden;
				margin:8px 0px;
			}
			.status_DRAFT{
				border-left:5px solid @status_DRAFT;
			}
			.status_PUBLISHED{
				border-left:5px solid @status_PUBLISHED;
			}
			.status_SUBMITTED_FOR_ASSESSMENT{
				border-left:5px solid @status_SUBMITTED_FOR_ASSESSMENT;
			}
			.status_ASSESSMENT_IN_PROGRESS{
				border-left:5px solid @status_ASSESSMENT_IN_PROGRESS;
			}
			.status_APPROVED{
				border-left:5px solid @status_APPROVED;
			}
			.status_MORE_WORK_REQUIRED{
				border-left:5px solid @status_MORE_WORK_REQUIRED;
			}
			.ql_1{
				background: @ql_1;
				color:white;
			}
			.ql_2{
				background: @ql_2;
			}
			.ql_3{
				background: @ql_3;
			}
			.ql_4{
				background: @ql_4;
			}
		}

	}
	.selected{
		.item-info{
			background:@accentColor;
		}
	}
	.btn-group{
		position: absolute;
		top: @MMRitemHeight - 40px;
		right: 7px;
	}
}

#applied_filters{
	margin-top:10px;
	.tag{
		font-size:10px;
		border:1px solid #ccc;
		padding: 5px 8px;
		margin:2px 5px;
		color:black;
		.light-gradient();
		&:hover{
			text-decoration:none;
			color:#333;
		}

	}

	
}

#filter_fields{
	position:relative;
	.span3{
		border-right: 1px solid #ccc;
		height:120px;
	}
	.span3:last-child{
		border:none;
	}
}

.well{
	border:1px solid #ccc;
}

.rotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.lists{
	.item{
		padding:10px;
	}
	li {
		width:auto;
		float:none;
		margin:8px 0px;
		list-style:none;
	}
	margin:0;
	.btn-group{
		position: absolute;
		top: 5px;
		right: 5px;
	}
}


.selection{
	position: absolute;
	border: 1px solid #89B;
	background: #BCE;
	background-color: #BEC;
	border-color: #8B9;
}

.selected{
	background: @softAccentColor;
	border-color: @accentColor;
}	
/*.active{  
	background: #CEB;
	border-color: #9B8;
}*/

.centered{
	text-align:center;
}
.right-aligned{
	text-align:right;
}

@media (max-width: 767px) {
	.box{margin:0;}
	.dl-horizontal{
		dt{}
		dd{margin-left:10px;}
	}
	.form-horizontal .controls{
		margin-left:10px;
	}
	#mmr_toolbar > .span4:nth-child(2){
		text-align:left;
	}
	#mmr_toolbar > .span4:nth-child(3){
		text-align:left;
	}
	#mmr_toolbar{

	}
	#topbar{
		height:auto;
	}
	.thumbnails{
		.item{
			width:100%;
		}
	}
	#main-nav{
		width:auto;
		float:left;
		li{
			float:none;
		}
		.submenu{
			display:block;
			position:relative;
			border:none;
			float:none;
			margin:none;
			background:none;
			box-shadow:none;
			-webkit-box-shadow:none;
		}
	}
}
@media (max-width: 575px) {
	#main-nav{
		display:none;
		text-align:left;
		ul{
			height:auto;
		}
		li{
			height:auto;
			display:block;
			a{
				height:auto;
				float:none;
				width:200px;
			}
			.sub-menu{
				display:block;
				position:relative;
				border:none;
				float:none;
				margin:none;
				background:none;
				box-shadow:none;
				-webkit-box-shadow:none;
			}
		}
		
	}
}