.chzn-container-single .chzn-single{height:26px;text-align:left;}
.chzn-drop{text-align:left;}

.dl-horizontal{
	dt{
		line-height:22px;
		color: @darkGray;
		width:250px;
	}
	dd{
		line-height:22px;
		margin-left:260px;
	}
}

.form-horizontal{
	.control-label{
		width:200px;
		font-weight:bold;
		.text-shadow();
	}
	.controls{
		margin-left:210px;
	}
}

.well{border:1px solid #ccc;}
.tab-content{overflow:visible;}

body,html{
	height:100%;
}
#main-content{
	min-height: 100%;
}
.input-large{
	width: 227px;
}