/.buildpath
/.gitignore
/.project
/registry/src/ckeditor
/registry/src/dois/
/registry/src/orca/htmlpurifier/
.DS_Store
._*
.htaccess
harvester/build/
harvester/lib/
pids/build/
pids/lib/
registry/src/.project
rifcs-api/build/
arms/src/.htaccess
/arms/src/global_config.php
/registry/src/global_config.php
/registry/src/orca/rda/.htaccess
/registry/src/.htaccess
/doco/
/misc/
*~
