RewriteEngine On
RewriteBase /workarea/leo/ands/registry/src

# Remap version number and response type according to the URL structure

# NEW URLs
RewriteRule ^dois/(.*)/(.*)\.(.*)/ doi_app/index.php?/$2/index/&api_version=$1&response_type=$3 [QSA,NC,L]
RewriteRule ^dois/(.*)/(.*)/ doi_app/index.php?/$2/index/&api_version=$1&response_type=string [QSA,NC,L]

# OLD URLs
RewriteRule ^dois/doi_(.*)\.php doi_app/index.php?/$1/index/&api_version=1.0&response_type=string [QSA,NC,L]


# TODO: ADD THE REST HERE ^^
