<?php
/*
Copyright 2012 The Australian National University
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/*======================================
	- Modify This File
	- And the .htaccess file inside the RDA folder
======================================*/

/*====================================
	LOCAL WEB SERVER ENVIRONMENT
====================================*/
$host 			= 'devl.ands.org.au';
$default_protocol	= 'https';
$cosi_root 		= 'workareas/minh/ands/registry/src';
$orca_root 		= $cosi_root.'/orca';
$rda_root 		= $orca_root.'/rda';

//======================================
$solr_url 		= 'http://devl.ands.org.au:8080/solr/';
$harvester_ip 		= '';
$pids_url		= "https://devl.ands.org.au:8443/pids/";
$pids_app_id		= '';

$harvest_url		= '';
$harvest_ip		= '';

//======================================
$deploy_as		= 'PROD';
$rda_environment	= 'production';
$debug 			= false;
$error 			= false;
$maintenance 	= false;

//=====================================
// The name of the application.
define("eAPP_TITLE", "Online Services");

// The name of this installed instance of the application.
// eINSTANCE_TITLE_SHORT will be used in the window title.
// eINSTANCE_TITLE will be used as the logo alt/title.
define("eINSTANCE_TITLE", "My Organisation");
define("eINSTANCE_TITLE_SHORT", "MyORG");

define("eCONTACT_EMAIL", "services@ands.org.au");
define("eCONTACT_NAME", "Feedback");

define("eCOPYRIGHT_NOTICE", "");


//======================================
// CACHING OPTIONS
define('eCACHE_DIRECTORY', '/var/www/orca_' . 'cache'); // what directory do we store our cache files in? (relative)
define('eCACHE_CURRENT_NAME','current'); // what filename do we use for the latest version symlink
define('eCACHE_PERMISSION',0775); // octal representation of default directory permissions
$gCacheEnabled = true; // is caching enabled?
$gCacheExtended = true; // are we caching "extended RIFCS" (rich) or plain vanilla? (not backwards compatible)


//======================================
// INDEXING OPTIONS
define('eBOOST_DEFAULT_BASE', 100);
define('eBOOST_RELATED_OBJECT_ADJUSTMENT', 5);
define('eBOOST_INCOMING_RELATED_OBJECT_ADJUSTMENT', 10);


//======================================
// INDEXING OPTIONS
define('eBOOST_DEFAULT_BASE', 100);
define('eBOOST_RELATED_OBJECT_ADJUSTMENT', 5);
define('eBOOST_INCOMING_RELATED_OBJECT_ADJUSTMENT', 10);


//White List IP are IPs that are allowed to access the system regardless of maitenance status
$white_list_ip 	= array(
	'xx.xx.xx.xx'
);
//Black List IP are IPs that are not allowed to access the system
$black_list_ip 	= array();


if ( isset($_SERVER["HTTP_X_FORWARDED_FOR"]) )    {
$ip=$_SERVER["HTTP_X_FORWARDED_FOR"];
} else if ( isset($_SERVER["HTTP_CLIENT_IP"]) )    {
$ip=$_SERVER["HTTP_CLIENT_IP"];
} else if ( isset($_SERVER["REMOTE_ADDR"]) )    {
$ip=$_SERVER["REMOTE_ADDR"];
} 
	
if($maintenance & !in_array($ip, $white_list_ip)){
	print("<html><body>");
	print("<center><div style='border:1px solid #C7D7BA; width:400px;'>");
	print("<img src='http://ands2.anu.edu.au:8080/ands_logo_white.jpg' width='60%' border='0'>");
	print("<h3 style='font-family:\"Lucida Grande\", Verdana, Lucida, Helvetica'>Under maintenance, please check back later.</h3>");
	print("</div></center>");
	exit;	
}

// Session will expire/timeout after this period of inactivity 
// (ie if there have been no requests in that time).
$gSessionTimeoutMinutes = 120;

/*====================================

        LDAP AUTHENTICATION SERVER (optional)
====================================*/
// -----------------------------------------------------------------------------
// These will be used by user roles that specify AUTHENTICATION_LDAP.
$eLDAPHost = "ldaps://ldap.anu.edu.au";
$eLDAPPort = 636; //636 | 389
// The resource distinguished name.
// The string @@ROLE_ID@@ will be replace with the user role_id, and escaped
// for LDAP reserved characters before the bind is attempted.
$eLDAPBaseDN = "ou=People, o=anu.edu.au";
$eLDAPuid = "uid=@@ROLE_ID@@";
$eLDAPDN = "$eLDAPuid, $eLDAPBaseDN";



/*====================================
	DATABASE ENVIRONMENT
====================================*/
$cosi_db_host = 'devl.ands.org.au';
$orca_db_port = 5432;
$cosi_db_name = 'dbs_work_leo_cosi_2';
//======================================
$orca_db_host = $cosi_db_host;
$orca_db_port = 5432;
$orca_db_name = 'dbs_work_leo_orca_2';
//======================================
$pids_db_host = $cosi_db_host;
$pids_db_port = 5432;
$pids_db_name = 'pids';
//======================================
$dois_db_host = $cosi_db_host;
$dois_db_port = 5432;
$dois_db_name = 'dois';
//======================================

/*====================================
DOI ENVIRONMENT
====================================*/
define('gDOIS_DATACENTRE_BASE_URI', "https://mds.datacite.org/datacentre");
define('gDOIS_DATACENTRE_USERNAME', "***");
define('gDOIS_DATACENTRE_PASSWORD', "***");

define('gDOIS_DATACENTRE_NAME_PREFIX', "ANDS");
define('gDOIS_DATACENTRE_NAME_MIDDLE', "CENTRE");  //for production

$gDOIS_PREFIX_TYPES = array( '10.4225/','10.4226/','10.4227/','10.5072/');


// Service configuration.

define('gDOIS_SERVICE_BASE_URI', "https://mds.datacite.org/");
define('gDOIS_DATACITE_PASSWORD', "****");

define('gDOIS_RESPONSE_SUCCESS', 'OK');


$dataciteSchema['2.0'] = 'http://schema.datacite.org/meta/kernel-2.0/metadata.xsd';
$dataciteSchema['2.1'] = 'http://schema.datacite.org/meta/kernel-2.1/metadata.xsd';
$dataciteSchema['2.2'] = 'http://schema.datacite.org/meta/kernel-2.2/metadata.xsd';

=======
define('eAPPLICATION_ROOT', dirname(__FILE__) . "/");

?>
