@charset "UTF-8";
/* CSS Document */
.flexigrid {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	position: relative;
	border: 0px solid #eee;
	overflow: hidden;
	color: #000;
}

.flexigrid.hideBody {
	height: 26px !important;
	border-bottom: 1px solid #ccc;
}

.ie6fullwidthbug {
	border-right: 0px solid #ccc;
	padding-right: 2px;
}

.flexigrid div.nDiv {
	background: #eee url(images/line.gif) repeat-y -1px top;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: auto;
	left: 0px;
	position: absolute;
	z-index: 999;
	float: left;
}

.flexigrid div.nDiv table {
	margin: 2px;
}

.flexigrid div.hDivBox {
	float: left;
	padding-right: 40px;
}

.flexigrid div.bDiv table {
	margin-bottom: 10px;
}

.flexigrid div.bDiv table.autoht {
	border-bottom: 0px;
	margin-bottom: 0px;
}

.buttons {
    display:inline-block;
}

.toolbar{
	vertical-align: text-top;
    float:right;
    position:relative;
}

#select_ds_container div.content_block{height:37px;float:left;line-height:37px;margin:0 3px;}

a.button,
a.icon {
    color: #484848;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font: bold 12px Helvetica, Arial, sans-serif;
    line-height: 35px;
    height: 35px;
    display: block;
    float: left;
    
    padding: 0 10px;
    background: #f0f0f0;
    background: -webkit-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -moz-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -ms-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -o-linear-gradient(top, #f7f7f7, #d1d1d1);
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff');
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;

    text-align:center;
}

a.smallIcon{
    color: #484848;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font: bold 12px Helvetica, Arial, sans-serif;
    line-height: 20px;
    height: 20px;
    display: block;
    float: left;
    
    padding:4px 2px 2px 5px;
    background: #f0f0f0;
    background: -webkit-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -moz-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -ms-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -o-linear-gradient(top, #f7f7f7, #d1d1d1);
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff');
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;

    text-align:center;
}



a.smaller{
    line-height: 20px;
    height: 20px;
    padding: 0 5px;
    font-size:10px;
}

a.button:hover,
a.icon:hover {
    border: solid 1px #333;
    color: #282828;
    background: -webkit-linear-gradient(top, #ffffff, #dfdfdf);
    background: -moz-linear-gradient(top, #ffffff, #dfdfdf);
    background: -ms-linear-gradient(top, #ffffff, #dfdfdf);
    background: -o-linear-gradient(top, #ffffff, #dfdfdf);
}
a.button:active,
a.icon:active {
    border: solid 1px #7f7f7f;
    background: #d0d0d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), color-stop(0.15, #c6c6c6), to(#d8d8d8));
    background: -webkit-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -ms-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -o-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}

a.pressed,
a.pressed {
    border: solid 1px #7f7f7f;
    background: #d0d0d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), color-stop(0.15, #c6c6c6), to(#d8d8d8));
    background: -webkit-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -ms-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -o-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}


a.icon {
    padding: 0;
    margin-bottom: 10px;
}
a.icon span {
    display: block;
    line-height: 35px;
    height: 35px;
    width: 36px;
    max-width: 36px;
    overflow: hidden;
    text-indent: -9999px;
}

a.smallIcon span{
    display: block;
    line-height: 20px;
    height: 20px;
    width: 20px;
    max-width: 20px;
    overflow: hidden;
    text-indent: -9999px;
    background-position:center; 
}

a.left {
    margin: 0;
    border-right: solid 1px #b0b0b0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
    border-right: solid 1px #b0b0b0;
}
a.middle:hover,
a.right:hover { border-left: solid 1px #333 }
a.middle:active,
a.right:active { border-left: solid 1px #7f7f7f }
a.right {
    border-left: solid 1px rgba(255, 255, 255, 0);
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

a.icon {
    padding: 0;
    margin-bottom: 10px;
}
a.icon span {
    display: block;
    line-height: 35px;
}

a.icon1 span {background:url(../../../_styles/button-icons.png) -0px -36px;}
a.icon2 span {background:url(../../../_styles/button-icons.png) -36px -36px;}
a.icon3 span {background:url(../../../_styles/button-icons.png) -72px -36px;}
a.icon4 span {background:url(../../../_styles/button-icons.png) -108px -36px;}
a.icon5 span {background:url(../../../_styles/button-icons.png) -144px -36px;}
a.icon6 span {background:url(../../../_styles/button-icons.png) -180px -36px;}
a.icon7 span {background:url(../../../_styles/button-icons.png) -216px -36px;}
a.icon8 span {background:url(../../../_styles/button-icons.png) -252px -36px;}
a.icon9 span {background:url(../../../_styles/button-icons.png) -288px -36px;}
a.icon10 span {background:url(../../../_styles/button-icons.png) -324px -36px;}
a.icon11 span {background:url(../../../_styles/button-icons.png) -0px -72px;}
a.icon12 span {background:url(../../../_styles/button-icons.png) -36px -72px;}
a.icon13 span {background:url(../../../_styles/button-icons.png) -72px -72px;}
a.icon14 span {background:url(../../../_styles/button-icons.png) -108px -72px;}
a.icon15 span {background:url(../../../_styles/button-icons.png) -144px -72px;}
a.icon16 span {background:url(../../../_styles/button-icons.png) -180px -72px;}
a.icon17 span {background:url(../../../_styles/button-icons.png) -216px -72px;}
a.icon18 span {background:url(../../../_styles/button-icons.png) -252px -72px;}
a.icon19 span {background:url(../../../_styles/button-icons.png) -288px -72px;}
a.icon20 span {background:url(../../../_styles/button-icons.png) -324px -72px;}
a.icon21 span {background:url(../../../_styles/button-icons.png) -0px -108px;}
a.icon22 span {background:url(../../../_styles/button-icons.png) -36px -108px;}
a.icon23 span {background:url(../../../_styles/button-icons.png) -72px -108px;}
a.icon24 span {background:url(../../../_styles/button-icons.png) -108px -108px;}
a.icon25 span {background:url(../../../_styles/button-icons.png) -144px -108px;}
a.icon26 span {background:url(../../../_styles/button-icons.png) -180px -108px;}
a.icon27 span {background:url(../../../_styles/button-icons.png) -216px -108px;}
a.icon28 span {background:url(../../../_styles/button-icons.png) -252px -108px;}
a.icon29 span {background:url(../../../_styles/button-icons.png) -288px -108px;}
a.icon30 span {background:url(../../../_styles/button-icons.png) -324px -108px;}
a.icon31 span {background:url(../../../_styles/button-icons.png) -0px -144px;}
a.icon32 span {background:url(../../../_styles/button-icons.png) -36px -144px;}
a.icon33 span {background:url(../../../_styles/button-icons.png) -72px -144px;}
a.icon34 span {background:url(../../../_styles/button-icons.png) -108px -144px;}
a.icon35 span {background:url(../../../_styles/button-icons.png) -144px -144px;}
a.icon36 span {background:url(../../../_styles/button-icons.png) -180px -144px;}
a.icon37 span {background:url(../../../_styles/button-icons.png) -216px -144px;}
a.icon38 span {background:url(../../../_styles/button-icons.png) -252px -144px;}
a.icon39 span {background:url(../../../_styles/button-icons.png) -288px -144px;}
a.icon40 span {background:url(../../../_styles/button-icons.png) -324px -144px;}
a.icon41 span {background:url(../../../_styles/button-icons.png) -0px -180px;}
a.icon42 span {background:url(../../../_styles/button-icons.png) -36px -180px;}
a.icon43 span {background:url(../../../_styles/button-icons.png) -72px -180px;}
a.icon44 span {background:url(../../../_styles/button-icons.png) -108px -180px;}
a.icon45 span {background:url(../../../_styles/button-icons.png) -144px -180px;}
a.icon46 span {background:url(../../../_styles/button-icons.png) -180px -180px;}
a.icon47 span {background:url(../../../_styles/button-icons.png) -216px -180px;}
a.icon48 span {background:url(../../../_styles/button-icons.png) -252px -180px;}
a.icon49 span {background:url(../../../_styles/button-icons.png) -288px -180px;}
a.icon50 span {background:url(../../../_styles/button-icons.png) -324px -180px;}
a.icon51 span {background:url(../../../_styles/button-icons.png) -0px -216px;}
a.icon52 span {background:url(../../../_styles/button-icons.png) -36px -216px;}
a.icon53 span {background:url(../../../_styles/button-icons.png) -72px -216px;}
a.icon54 span {background:url(../../../_styles/button-icons.png) -108px -216px;}
a.icon55 span {background:url(../../../_styles/button-icons.png) -144px -216px;}
a.icon56 span {background:url(../../../_styles/button-icons.png) -180px -216px;}
a.icon57 span {background:url(../../../_styles/button-icons.png) -216px -216px;}
a.icon58 span {background:url(../../../_styles/button-icons.png) -252px -216px;}
a.icon59 span {background:url(../../../_styles/button-icons.png) -288px -216px;}
a.icon60 span {background:url(../../../_styles/button-icons.png) -324px -216px;}
a.icon61 span {background:url(../../../_styles/button-icons.png) -0px -252px;}
a.icon62 span {background:url(../../../_styles/button-icons.png) -36px -252px;}
a.icon63 span {background:url(../../../_styles/button-icons.png) -72px -252px;}
a.icon64 span {background:url(../../../_styles/button-icons.png) -108px -252px;}
a.icon65 span {background:url(../../../_styles/button-icons.png) -144px -252px;}
a.icon66 span {background:url(../../../_styles/button-icons.png) -180px -252px;}
a.icon67 span {background:url(../../../_styles/button-icons.png) -216px -252px;}
a.icon68 span {background:url(../../../_styles/button-icons.png) -252px -252px;}
a.icon69 span {background:url(../../../_styles/button-icons.png) -288px -252px;}
a.icon70 span {background:url(../../../_styles/button-icons.png) -324px -252px;}
a.icon71 span {background:url(../../../_styles/button-icons.png) -0px -288px;}
a.icon72 span {background:url(../../../_styles/button-icons.png) -36px -288px;}
a.icon73 span {background:url(../../../_styles/button-icons.png) -72px -288px;}
a.icon74 span {background:url(../../../_styles/button-icons.png) -108px -288px;}
a.icon75 span {background:url(../../../_styles/button-icons.png) -144px -288px;}
a.icon76 span {background:url(../../../_styles/button-icons.png) -180px -288px;}
a.icon77 span {background:url(../../../_styles/button-icons.png) -216px -288px;}
a.icon78 span {background:url(../../../_styles/button-icons.png) -252px -288px;}
a.icon79 span {background:url(../../../_styles/button-icons.png) -288px -288px;}
a.icon80 span {background:url(../../../_styles/button-icons.png) -324px -288px;}
a.icon81 span {background:url(../../../_styles/button-icons.png) -0px -324px;}
a.icon82 span {background:url(../../../_styles/button-icons.png) -36px -324px;}
a.icon83 span {background:url(../../../_styles/button-icons.png) -72px -324px;}
a.icon84 span {background:url(../../../_styles/button-icons.png) -108px -324px;}
a.icon85 span {background:url(../../../_styles/button-icons.png) -144px -324px;}
a.icon86 span {background:url(../../../_styles/button-icons.png) -180px -324px;}
a.icon87 span {background:url(../../../_styles/button-icons.png) -216px -324px;}
a.icon88 span {background:url(../../../_styles/button-icons.png) -252px -324px;}
a.icon89 span {background:url(../../../_styles/button-icons.png) -288px -324px;}
a.icon90 span {background:url(../../../_styles/button-icons.png) -324px -324px;}
a.icon91 span {background:url(../../../_styles/button-icons.png) -0px -360px;}
a.icon92 span {background:url(../../../_styles/button-icons.png) -36px -360px;}
a.icon93 span {background:url(../../../_styles/button-icons.png) -72px -360px;}
a.icon94 span {background:url(../../../_styles/button-icons.png) -108px -360px;}
a.icon95 span {background:url(../../../_styles/button-icons.png) -144px -360px;}
a.icon96 span {background:url(../../../_styles/button-icons.png) -180px -360px;}
a.icon97 span {background:url(../../../_styles/button-icons.png) -216px -360px;}
a.icon98 span {background:url(../../../_styles/button-icons.png) -252px -360px;}
a.icon99 span {background:url(../../../_styles/button-icons.png) -288px -360px;}
a.icon100 span {background:url(../../../_styles/button-icons.png) -324px -360px;}
a.icon101 span {background:url(../../../_styles/button-icons.png) -0px -396px;}
a.icon102 span {background:url(../../../_styles/button-icons.png) -36px -396px;}
a.icon103 span {background:url(../../../_styles/button-icons.png) -72px -396px;}
a.icon104 span {background:url(../../../_styles/button-icons.png) -108px -396px;}
a.icon105 span {background:url(../../../_styles/button-icons.png) -144px -396px;}
a.icon106 span {background:url(../../../_styles/button-icons.png) -180px -396px;}
a.icon107 span {background:url(../../../_styles/button-icons.png) -216px -396px;}
a.icon108 span {background:url(../../../_styles/button-icons.png) -252px -396px;}
a.icon109 span {background:url(../../../_styles/button-icons.png) -288px -396px;}
a.icon110 span {background:url(../../../_styles/button-icons.png) -324px -396px;}
a.icon111 span {background:url(../../../_styles/button-icons.png) -0px -432px;}
a.icon112 span {background:url(../../../_styles/button-icons.png) -36px -432px;}
a.icon113 span {background:url(../../../_styles/button-icons.png) -72px -432px;}
a.icon114 span {background:url(../../../_styles/button-icons.png) -108px -432px;}
a.icon115 span {background:url(../../../_styles/button-icons.png) -144px -432px;}
a.icon116 span {background:url(../../../_styles/button-icons.png) -180px -432px;}
a.icon117 span {background:url(../../../_styles/button-icons.png) -216px -432px;}
a.icon118 span {background:url(../../../_styles/button-icons.png) -252px -432px;}
a.icon119 span {background:url(../../../_styles/button-icons.png) -288px -432px;}
a.icon120 span {background:url(../../../_styles/button-icons.png) -324px -432px;}
a.icon121 span {background:url(../../../_styles/button-icons.png) -0px -468px;}
a.icon122 span {background:url(../../../_styles/button-icons.png) -36px -468px;}
a.icon123 span {background:url(../../../_styles/button-icons.png) -72px -468px;}
a.icon124 span {background:url(../../../_styles/button-icons.png) -108px -468px;}
a.icon125 span {background:url(../../../_styles/button-icons.png) -144px -468px;}
a.icon126 span {background:url(../../../_styles/button-icons.png) -180px -468px;}
a.icon127 span {background:url(../../../_styles/button-icons.png) -216px -468px;}
a.icon128 span {background:url(../../../_styles/button-icons.png) -252px -468px;}
a.icon129 span {background:url(../../../_styles/button-icons.png) -288px -468px;}
a.icon130 span {background:url(../../../_styles/button-icons.png) -324px -468px;}
a.icon131 span {background:url(../../../_styles/button-icons.png) -0px -504px;}
a.icon132 span {background:url(../../../_styles/button-icons.png) -36px -504px;}
a.icon133 span {background:url(../../../_styles/button-icons.png) -72px -504px;}
a.icon134 span {background:url(../../../_styles/button-icons.png) -108px -504px;}
a.icon135 span {background:url(../../../_styles/button-icons.png) -144px -504px;}
a.icon136 span {background:url(../../../_styles/button-icons.png) -180px -504px;}
a.icon137 span {background:url(../../../_styles/button-icons.png) -216px -504px;}
a.icon138 span {background:url(../../../_styles/button-icons.png) -252px -504px;}
a.icon139 span {background:url(../../../_styles/button-icons.png) -288px -504px;}
a.icon140 span {background:url(../../../_styles/button-icons.png) -324px -504px;}
a.icon141 span {background:url(../../../_styles/button-icons.png) -0px -540px;}
a.icon142 span {background:url(../../../_styles/button-icons.png) -36px -540px;}
a.icon143 span {background:url(../../../_styles/button-icons.png) -72px -540px;}
a.icon144 span {background:url(../../../_styles/button-icons.png) -108px -540px;}
a.icon145 span {background:url(../../../_styles/button-icons.png) -144px -540px;}
a.icon146 span {background:url(../../../_styles/button-icons.png) -180px -540px;}
a.icon147 span {background:url(../../../_styles/button-icons.png) -216px -540px;}
a.icon148 span {background:url(../../../_styles/button-icons.png) -252px -540px;}
a.icon149 span {background:url(../../../_styles/button-icons.png) -288px -540px;}
a.icon150 span {background:url(../../../_styles/button-icons.png) -324px -540px;}
a.icon151 span {background:url(../../../_styles/button-icons.png) -0px -576px;}
a.icon152 span {background:url(../../../_styles/button-icons.png) -36px -576px;}
a.icon153 span {background:url(../../../_styles/button-icons.png) -72px -576px;}
a.icon154 span {background:url(../../../_styles/button-icons.png) -108px -576px;}
a.icon155 span {background:url(../../../_styles/button-icons.png) -144px -576px;}
a.icon156 span {background:url(../../../_styles/button-icons.png) -180px -576px;}
a.icon157 span {background:url(../../../_styles/button-icons.png) -216px -576px;}
a.icon158 span {background:url(../../../_styles/button-icons.png) -252px -576px;}
a.icon159 span {background:url(../../../_styles/button-icons.png) -288px -576px;}
a.icon160 span {background:url(../../../_styles/button-icons.png) -324px -576px;}
a.icon161 span {background:url(../../../_styles/button-icons.png) -0px -612px;}
a.icon162 span {background:url(../../../_styles/button-icons.png) -36px -612px;}
a.icon163 span {background:url(../../../_styles/button-icons.png) -72px -612px;}
a.icon164 span {background:url(../../../_styles/button-icons.png) -108px -612px;}
a.icon165 span {background:url(../../../_styles/button-icons.png) -144px -612px;}
a.icon166 span {background:url(../../../_styles/button-icons.png) -180px -612px;}
a.icon167 span {background:url(../../../_styles/button-icons.png) -216px -612px;}
a.icon168 span {background:url(../../../_styles/button-icons.png) -252px -612px;}
a.icon169 span {background:url(../../../_styles/button-icons.png) -288px -612px;}
a.icon170 span {background:url(../../../_styles/button-icons.png) -324px -612px;}
a.icon171 span {background:url(../../../_styles/button-icons.png) -0px -648px;}
a.icon172 span {background:url(../../../_styles/button-icons.png) -36px -648px;}
a.icon173 span {background:url(../../../_styles/button-icons.png) -72px -648px;}
a.icon174 span {background:url(../../../_styles/button-icons.png) -108px -648px;}
a.icon175 span {background:url(../../../_styles/button-icons.png) -144px -648px;}
a.icon176 span {background:url(../../../_styles/button-icons.png) -180px -648px;}
a.icon177 span {background:url(../../../_styles/button-icons.png) -216px -648px;}
a.icon178 span {background:url(../../../_styles/button-icons.png) -252px -648px;}
a.icon179 span {background:url(../../../_styles/button-icons.png) -288px -648px;}
a.icon180 span {background:url(../../../_styles/button-icons.png) -324px -648px;}
a.icon181 span {background:url(../../../_styles/button-icons.png) -0px -684px;}
a.icon182 span {background:url(../../../_styles/button-icons.png) -36px -684px;}
a.icon183 span {background:url(../../../_styles/button-icons.png) -72px -684px;}
a.icon184 span {background:url(../../../_styles/button-icons.png) -108px -684px;}
a.icon185 span {background:url(../../../_styles/button-icons.png) -144px -684px;}
a.icon186 span {background:url(../../../_styles/button-icons.png) -180px -684px;}
a.icon187 span {background:url(../../../_styles/button-icons.png) -216px -684px;}
a.icon188 span {background:url(../../../_styles/button-icons.png) -252px -684px;}
a.icon189 span {background:url(../../../_styles/button-icons.png) -288px -684px;}
a.icon190 span {background:url(../../../_styles/button-icons.png) -324px -684px;}
a.icon191 span {background:url(../../../_styles/button-icons.png) -0px -720px;}
a.icon192 span {background:url(../../../_styles/button-icons.png) -36px -720px;}
a.icon193 span {background:url(../../../_styles/button-icons.png) -72px -720px;}
a.icon194 span {background:url(../../../_styles/button-icons.png) -108px -720px;}
a.icon195 span {background:url(../../../_styles/button-icons.png) -144px -720px;}
a.icon196 span {background:url(../../../_styles/button-icons.png) -180px -720px;}
a.icon197 span {background:url(../../../_styles/button-icons.png) -216px -720px;}
a.icon198 span {background:url(../../../_styles/button-icons.png) -252px -720px;}
a.icon199 span {background:url(../../../_styles/button-icons.png) -288px -720px;}
a.icon200 span {background:url(../../../_styles/button-icons.png) -324px -720px;}


a.icon6s span {background:url(../../../_styles/button-icons-small.png) no-repeat -160px -37px;}
a.icon187s span {background:url(../../../_styles/button-icons-small.png) no-repeat -192px -588px;}
a.icon100s span {background:url(../../../_styles/button-icons-small.png) no-repeat -283px -312px;}
a.iconRefreshs span {background:url(../../../_styles/button-icons-small.png) no-repeat -6px -37px;}
a.icon2s span {background:url(../../../_styles/button-icons-small.png) no-repeat -35px -36px;}
a.icon28sOff span {background:url(../../../_styles/button-icons-small.png) no-repeat -221px -98px;}
a.icon28sOn span {background:url(../../../_styles/button-icons-small.png) no-repeat -6px -643px;}
a.icon59sOff span {background: url(../../../_styles/button-icons-small.png) no-repeat -254px -189px;}
a.icon59sOn span {background: url(../../../_styles/button-icons-small.png) no-repeat -70px -645px;}

a.ql4{background:#4491AB;color:white;}
a.ql3{background:#6DA539;color:white;}
a.ql2{background:#F2CE3B;color:white;}
a.ql1{background:#F06533;color:white;}
a.ql0{background:#89CEDE;color:black;}

a.borderless{
    border:none;
    background:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.flexigrid div.nDiv td {
	padding: 2px 3px;
	border: 1px solid #eee;
	cursor: default;
}

.flexigrid div.nDiv tr:hover td,.flexigrid div.nDiv tr.ndcolover td {
	background: #d5effc url(images/hl.png) repeat-x top;
	border: 1px solid #a8d8eb;
}

.flexigrid div.nDiv td.ndcol1 {
	border-right: 1px solid #ccc;
}

.flexigrid div.nDiv td.ndcol2 {
	border-left: 1px solid #fff;
	padding-right: 10px;
}

.flexigrid div.nDiv tr:hover td.ndcol1,.flexigrid div.nDiv tr.ndcolover td.ndcol1
	{
	border-right: 1px solid #d2e3ec;
}

.flexigrid div.nDiv tr:hover td.ndcol2,.flexigrid div.nDiv tr.ndcolover td.ndcol2
	{
	border-left: 1px solid #eef8ff;
}

.flexigrid div.nBtn {
	position: absolute;
	height: 24px;
	width: 14px;
	z-index: 900;
	background: #fafafa url(images/fhbg.gif) repeat-x bottom;
	border: 0px solid #ccc;
	border-left: 1px solid #ccc;
	top: 0px;
	left: 0px;
	margin-top: 1px;
	cursor: pointer;
	display: none;
}

.flexigrid div.nBtn div {
	height: 24px;
	width: 12px;
	border-left: 1px solid #fff;
	float: left;
	background: url(images/ddn.png) no-repeat center;
}

.flexigrid div.nBtn.srtd {
	background: url(images/wbg.gif) repeat-x 0px -1px;
}

.flexigrid div.mDiv {
	background: url(images/wbg.gif) repeat-x top;
	border: 1px solid #ccc;
	border-bottom: 0px;
	border-top: 0px;
	font-weight: bold;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.flexigrid div.mDiv div {
	padding: 6px;
	white-space: nowrap;
}

.flexigrid div.mDiv div.ptogtitle {
	position: absolute;
	top: 4px;
	right: 3px;
	padding: 0px;
	height: 16px;
	width: 16px;
	overflow: hidden;
	border: 1px solid #ccc;
	cursor: pointer;
}

.flexigrid div.mDiv div.ptogtitle:hover {
	background-position: left -2px;
	border-color: #bbb;
}

.flexigrid div.mDiv div.ptogtitle span {
	display: block;
	border-left: 1px solid #eee;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	width: 14px;
	height: 14px;
	background: url(images/uup.png) no-repeat center;
}

.flexigrid div.mDiv div.ptogtitle.vsble span {
	background: url(images/ddn.png) no-repeat center;
}

.flexigrid div.tDiv /*toolbar*/ {
	background: #fafafa url(images/bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
}

.flexigrid div.tDiv2 {
	float: left;
	clear: both;
	padding: 1px;
}

.flexigrid div.sDiv /*toolbar*/ {
	background: #fafafa url(images/bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: hidden;
	display: none;
}

.flexigrid div.sDiv2 {
	float: left;
	clear: both;
	padding: 5px;
	padding-left: 5px;
	width: 1024px;
}

.flexigrid div.sDiv2 input,.flexigrid div.sDiv2 select {
	vertical-align: middle;
}

.flexigrid div.btnseparator {
	float: left;
	height: 22px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	margin: 1px;
}

.flexigrid div.fbutton {
	float: left;
	display: block;
	cursor: pointer;

}

.flexigrid div.fbutton div {
	float: left;
	padding: 1px 3px;
}

.flexigrid div.fbutton span {
	float: left;
	display: block;
	padding: 3px;
}

.flexigrid div.fbutton:hover,.flexigrid div.fbutton.fbOver {
	/*padding: 0px;
	border: 1px solid #ccc;*/
}

.flexigrid div.fbutton:hover div,.flexigrid div.fbutton.fbOver div {
	padding: 0px 2px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

/* end toolbar*/
.flexigrid div.hDiv {
	background: #fafafa url(images/fhbg.gif) repeat-x bottom;
	position: relative;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
}

.flexigrid div.hDiv table {
	border-right: 1px solid #fff;
}

.flexigrid div.cDrag {
	float: left;
	position: absolute;
	z-index: 2;
	overflow: visible;
}

.flexigrid div.cDrag div {
	float: left;
	background: none;
	display: block;
	position: absolute;
	height: 24px;
	width: 5px;
	cursor: col-resize;
}

.flexigrid div.cDrag div:hover,.flexigrid div.cDrag div.dragging {
	background: url(images/line.gif) repeat-y 2px center;
}

.flexigrid div.iDiv {
	border: 1px solid #316ac5;
	position: absolute;
	overflow: visible;
	background: none;
}

.flexigrid div.iDiv input,.flexigrid div.iDiv select,.flexigrid div.iDiv textarea
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.flexigrid div.iDiv input.tb {
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	background: none;
}

.flexigrid div.bDiv {
	border: 1px solid #ccc;
	border-top: 0px;
	background: #fff;
	overflow: auto;
	position: relative;
}

.flexigrid div.bDiv table {
	border-bottom: 1px solid #ccc;
}

.flexigrid div.hGrip {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 5px;
	width: 5px;
	background: url(images/line.gif) repeat-x center;
	margin-right: 1px;
	cursor: col-resize;
}

.flexigrid div.hGrip:hover,.flexigrid div.hGrip.hgOver {
	border-right: 1px solid #999;
	margin-right: 0px;
}

.flexigrid div.vGrip {
	height: 5px;
	overflow: hidden;
	position: relative;
	background: #fafafa url(images/wbg.gif) repeat-x 0px -1px;
	border: 1px solid #ccc;
	border-top: 0px;
	text-align: center;
	cursor: row-resize;
}

.flexigrid div.vGrip span {
	display: block;
	margin: 1px auto;
	width: 20px;
	height: 1px;
	overflow: hidden;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: none;
}

.flexigrid div.hDiv th,.flexigrid  div.bDiv td
	/* common cell properties*/ {
	text-align: left;
	border-right: 1px solid #ddd;
	border-left: 1px solid #fff;
	overflow: hidden;
	vertical-align: middle !important;
	padding-left: 0;
	padding-right: 0;
}

.flexigrid div.hDiv th div,.flexigrid  div.bDiv td  div,div.colCopy div
	/* common inner cell properties*/ {
	padding: 5px;
	border-left: 0px solid #fff;
}

.flexigrid div.hDiv th,div.colCopy {
	font-weight: normal;
	height: 24px;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
}

div.colCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #fafafa url(images/fhbg.gif) repeat-x bottom;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
}

.flexigrid div.hDiv th.sorted {
	background: url(images/wbg.gif) repeat-x 0px -1px;
	border-bottom: 0px solid #ccc;
}

.flexigrid div.hDiv th.thOver {
	
}

.flexigrid div.hDiv th.thOver div,.flexigrid div.hDiv th.sorted.thOver div
	{
	border-bottom: 1px solid orange;
	padding-bottom: 4px;
}

.flexigrid div.hDiv th.sorted div {
	border-bottom: 0px solid #ccc;
	padding-bottom: 5px;
}

.flexigrid div.hDiv th.thMove {
	background: #fff;
	color: #fff;
}

.flexigrid div.hDiv th.sorted.thMove div {
	border-bottom: 1px solid #fff;
	padding-bottom: 4px
}

.flexigrid div.hDiv th.thMove div {
	background: #fff !important;
}

.flexigrid div.hDiv th div.sdesc {
	background: url(images/dn.png) no-repeat center top;
}

.flexigrid div.hDiv th div.sasc {
	background: url(images/up.png) no-repeat center top;
}

.flexigrid div.bDiv td {
	border-bottom: 1px solid #fff;
	vertical-align: top;
	white-space: nowrap;
}

.flexigrid div.hDiv th div {
	
}

.flexigrid span.cdropleft {
	display: block;
	background: url(images/prev.gif) no-repeat -4px center;
	width: 24px;
	height: 24px;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
	z-index: 3;
}

.flexigrid div.hDiv span.cdropright {
	display: block;
	background: url(images/next.gif) no-repeat 12px center;
	width: 24px;
	height: 24px;
	float: right;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
}

.flexigrid div.bDiv td div {
	border-top: 0px solid #fff;
	padding-bottom: 4px;
}

.flexigrid tr td.sorted {
	background: #f3f3f3;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #f3f3f3;
}

.flexigrid tr td.sorted div {
	
}

.flexigrid tr.erow td {
	background: #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
}

.flexigrid tr.erow td.sorted {
	background: #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

.flexigrid tr.erow td.sorted div {
	
}

.flexigrid div.bDiv tr:hover td,.flexigrid div.bDiv tr:hover td.sorted,.flexigrid div.bDiv tr.trOver td.sorted,.flexigrid div.bDiv tr.trOver td
	{
	background: #d9ebf5;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px dotted #a8d8eb;
}

.flexigrid div.bDiv tr.trSelected:hover td,.flexigrid div.bDiv tr.trSelected:hover td.sorted,.flexigrid div.bDiv tr.trOver.trSelected td.sorted,.flexigrid div.bDiv tr.trOver.trSelected td,.flexigrid tr.trSelected td.sorted,.flexigrid tr.trSelected td
	{
	background: #d5effc;
	border-right: 1px solid #d2e3ec;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px solid #a8d8eb;
}

/* novstripe adjustments */
.flexigrid.novstripe .bDiv table {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.flexigrid.novstripe  div.bDiv td {
	border-right-color: #fff;
}

.flexigrid.novstripe div.bDiv tr.erow td.sorted {
	border-right-color: #e3e3e3;
}

.flexigrid.novstripe div.bDiv tr td.sorted {
	border-right-color: #f3f3f3;
}

.flexigrid.novstripe  div.bDiv tr.erow td {
	border-right-color: #f7f7f7;
	border-left-color: #f7f7f7;
}

.flexigrid.novstripe div.bDiv tr.trSelected:hover td,.flexigrid.novstripe div.bDiv tr.trSelected:hover td.sorted,.flexigrid.novstripe div.bDiv tr.trOver.trSelected td.sorted,.flexigrid.novstripe div.bDiv tr.trOver.trSelected td,.flexigrid.novstripe tr.trSelected td.sorted,.flexigrid.novstripe tr.trSelected td
	{
	border-right: 1px solid #0066FF;
	border-left: 1px solid #0066FF;
}

.flexigrid.novstripe div.bDiv tr.trOver td,.flexigrid.novstripe div.bDiv tr:hover td
	{
	border-left-color: #d9ebf5;
	border-right-color: #d9ebf5;
}

/* end novstripe */
.flexigrid div.pDiv {
	background: url(images/wbg.gif) repeat-x 0 -1px;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.flexigrid div.pDiv div.pDiv2 {
	margin: 3px;
	margin-left: -2px;
	float: left;
	width: 1024px;
}

div.pGroup {
	float: left;
	background: none;
	height: 24px;
	margin: 0px 5px;
}

.flexigrid div.pDiv .pPageStat,.flexigrid div.pDiv .pcontrol {
	position: relative;
	top: 5px;
	overflow: visible;
}

.flexigrid div.pDiv input {
	vertical-align: text-top;
	position: relative;
	top: -5px;
}

.flexigrid div.pDiv  div.pButton {
	float: left;
	width: 22px;
	height: 22px;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
}

.flexigrid div.pDiv  div.pButton:hover,.flexigrid div.pDiv  div.pButton.pBtnOver
	{
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.flexigrid div.pDiv  div.pButton span {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}

.flexigrid div.pDiv  div.pButton:hover span,.flexigrid div.pDiv  div.pButton.pBtnOver span
	{
	width: 19px;
	height: 19px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

.flexigrid .pSearch {
	background: url(images/magnifier.png) no-repeat center;
}

.flexigrid .pFirst {
	background: url(images/first.gif) no-repeat center;
}

.flexigrid .pPrev {
	background: url(images/prev.gif) no-repeat center;
}

.flexigrid .pNext {
	background: url(images/next.gif) no-repeat center;
}

.flexigrid .pLast {
	background: url(images/last.gif) no-repeat center;
}

.flexigrid .pReload {
	background: url(images/load.png) no-repeat center;
}

.flexigrid .pReload.loading {
	background: url(images/load.gif) no-repeat center;
}

/* ie adjustments */
.flexigrid.ie div.hDiv th div,.flexigrid.ie  div.bDiv td  div,div.colCopy.ie div
	/* common inner cell properties*/ {
	overflow: hidden;
}