ul.vocab_list {
    z-index: 1;
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    border: 1px solid #CFCFCF;
    margin: 0px;
    padding: 2px;
}

ul.vocab_list li {
    line-height: 2;
    padding: .2em .8em .2em .4em;
    font-size: 0.8em;
    margin-bottom: 1em;
}


ul.vocab_list li[role="vocab_error"], .error {
    background-color: #FFAAAA;
    margin-bottom: 0px;
}

div.error { padding:0.5em }

ul.vocab_list li[role="vocab_item"]:hover {
    background-color: #CFCFCF;
    cursor: pointer;
}

ul.vocab_list li span[role="label"] {
    font-weight: bold;
    float:left;
    width:80%;
}

ul.vocab_list li span[role="definition"] {
    float:right;
}

ul.vocab_list li span[role="about"] {
    font-style: italic;
    display:block;
    clear:both;
}


ul.vocab_list.rifcs li span[role="label"] {
    font-weight: bold;
    float:left;
    width:20%;
}

ul.vocab_tree, ul.vocab_tree ul { list-style: none;margin:0px;padding:0px;width:100%;}
ul.vocab_tree li { cursor: pointer; padding-left:2em; clear:both;}
ul.vocab_tree li > ins { cursor:pointer; height: 16px; width: 16px; position: relative; display: block; float:left; padding-right:0.2em; background-repeat: no-repeat;}
ul.vocab_tree li.tree_closed > ins { background-image: url("../img/d.png"); background-position: -54px 0px;}
ul.vocab_tree li.tree_open > ins { background-image: url("../img/d.png"); background-position: -72px 0px;}
ul.vocab_tree li.tree_leaf > ins { background-image: url("../img/d.png"); background-position: -37px 0px;}
ul.vocab_tree li.tree_empty { color: #999; cursor: default }
