.ro_box{
	.sortable{
		list-style-type: none; margin: 0;
		width:100%;
		position:relative;
		li{
			position:relative;
			display:block;
			min-height:40px;
			background:white;
			border-bottom:1px solid #ccc;
			font-size:0.8em;
			&:hover{
				cursor:pointer;
				
			}
			.ro_content{
				
			}

			.ro_title{
				padding:5px;
				font-size:1.2em;
			}

			.ro_content{
				padding:5px 0px;
				img{
					height:1.2em;
				}
				p{
					margin-bottom:0;
				}
			}
			.right-menu{
				position:absolute;
				top:5px;
				right:5px;
			}
		}
		li.ui-state-highlight {background:#FEFFD2;}
		li.ro_selected{
			background:#d9e7f3;
		}
		li.ro_error{
			border-right:5px solid #e54a4f;
		}
		li.active{
			background: #C1F4E7;
		}
	}
	.stick{width:100%;z-index:9999;}
	.show_more{
		position:absolute;right:0;
		background:white;
		font-size:1em;
		padding:3px;
		border:1px solid #cdcdcd;
		border-top:0;
		cursor:pointer;
	}
}


#active_filters{
	margin:0 10px;
	em{
		line-height:33px;
		color:#888;
		font-size:0.8em;
	}
}

#status_message{
	text-align:center;
	padding:5px 10px;
	position: relative; left: -50%;
}

.widget-box{
	position:relative;
	.widget-title{
		span.icon{
			cursor:pointer;
			&:hover{
				opacity:1.0;
			}
		}
	}
	.widget-content{
		height:100%;
	}

}
.pool::-webkit-scrollbar { 
    display: none; 
}
.pool{
	margin:0 auto;
	position:relative;
	overflow:auto;
	.block{
		position:relative;
		margin:0 5px;
		text-align:left;
		float:left;
	}
	.droppable li{
		background: #C1F4E7;
	}
}

.ui-tooltip-default{
	max-width:750px;
}
.helper{
	z-index:1000000;
}


.qa_container{
	border:1px solid black;margin:2px 1px;padding:4px;
	.qa_ok{display:block;border:1px solid;}
	.qa_error{display:block;border:1px solid;}
	.toggleQAtip{font-size:16px;padding:5px 2px;cursor:pointer;line-height: 18px;}
	.hasError{background:#C92020; color:white;}
	.info, .success, .warning, .error, .validation {
	    border: 1px solid;
	    background-repeat: no-repeat;
	    background-position: 97% 15px;
	    margin: 7px auto;
	    padding: 10px 20px 15px 10px;
	}
	
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.tags{
	margin:0 auto;
	li{
		display:inline-block;
		border:1px solid #ccc;
		padding: 2px 10px;
		padding-right:15px;
		margin:2px;
		cursor:pointer;
		position:relative;
		.light-gradient();
		span{
			position: absolute;
			top:2px;right:0;
			opacity:0.5;
			&:hover{
				opacity:1.0;
			}
		}
		&:hover{
			border:1px solid #ddd;
		}
	}
}

.light-gradient{
	background: #F8F8F8;
	background: -moz-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%, #E3E3E3));
	background: -webkit-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: -o-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: -ms-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e3e3e3',GradientType=0 );
}